body{
  font-family: Helvetica;
  text-align: center;
}

/* Headings */
h1{
font-family: Helvetica;
font-size: 70px;
font-weight: bold;
color: white;
width: auto !important;
}

h4{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: center;
}

h2{
font-size: 32px;
font-weight: bold;
}

h3{
font-size: 23px;
font-weight: bold;
}

h5{
font-size: 23px;
font-weight: bold;
color: white;
text-align: center;
width: auto !important;
}

/* Normal Text */

p{
  font-size: 14px;
}

.header-background{
  background-image: url(https://liamchalloner.github.io/broadway/Resources/Images/the-flatiron-building.png);
  background-size: cover;
  width: auto;
}
.footer-stuff{
  text-align: left !important;
  font-size: 11px;
  color: white;
}

.footer{
  background-color: dimgray;
}
.footer-heading{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align: left;
}
a{
  color: white;
}
